- name: Load distro-specific variables
  tags: always
  include_vars: "{{ ansible_distribution }}.yml"

- block:
  ## install and configure tlp
  - import_tasks: tlp.yml
    when: tlp

  ## set bluetooth controler mode edr only
  - import_tasks: bluetooth.yml

  rescue:
  - name: Set fact if task failed
    set_fact: task_failed=true